$mo-breakpoint: 1023px;
$pad-breakpoint: 1023px;
$pc-breakpoint: 9999px;
$mo-width: 280px;
$pad-width: 1024px;
$pc-width: 1260px;
$default-color: #221815;
$basic-color1: #111;
$basic-color2: #222;
$basic-color3: #333;
$point-color1: red;
$bg-color1: red;
$line-color1: red;
